/********************************* TAG SELECTORS ******************************/
body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1{
    margin: 0 auto;
    font-size: 3rem;
    color: #C37B89;
    margin-bottom: 30px;
}
p{
    margin: 0 auto;
    color: #C37B89;
    font-weight: normal;
}
a{
    text-decoration: none;
    color:red;
}
/********************************* CLASS SELECTORS ******************************/
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;

}
.profile{
    margin: 0 auto;
}
/********************************* ID SELECTORS ******************************/

#top-container{
    background-color: #D1E8E4;
    padding-top: 150px;
}

#bottom-cloud{
    position: absolute;
}

#top-cloud{
    position: relative;
    left: 200px;
}

#me-image{
    width: 20%;
    border-radius: 100%;
}